@import '../../../App.scss';

.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 110;
  left: 0;
  top: 0;
  background-color: #7c7c7c77;
}

.Modal {
  position: fixed;
  z-index: 1000;
  background-color: white;
  margin: auto auto;
  border-radius: 0.3em;
  box-shadow: $shadow2;

  box-sizing: border-box;
  transition: all 0.2s ease-out;
}

@media (min-width: 600px) {
  .Modal {
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
}
